* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f1f5f8;
  color: #222;
  margin: 0;
  padding: 0;
}
.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
    /* align-items: start; */
  }
}
.button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(252, 241, 241);
  background-color: #633fc7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px rgb(156, 154, 154);
  margin-left: 5rem;
}
.button1 {
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f17730;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px rgb(156, 154, 154);
  margin-left: 2rem;
}
.button4 {
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(185, 43, 43);
  background-color: #49dcf0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px rgb(156, 154, 154);
  margin-left: 2rem;
}
.button2 {
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 236, 236);
  background-color: #911621;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px rgb(156, 154, 154);
  margin-left: 5rem;
}
.button3 {
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #7f4ece;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px rgb(156, 154, 154);
  margin-left: 0rem;
}
.button5 {
  display: inline-block;
  padding: 5px 30px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4eb0ce;
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px rgb(156, 154, 154);
  margin-left: 3.2rem;
}
.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.book img {
  width: 15rem;
  height: 20rem;
}
.book h3 {
  color: rgb(21, 24, 207);
  margin-top: 0.5rem;
}
.book h4 {
  color: #617d98;
  font-size: 1rem;
  margin-top: 0.25rem;
}
.book p {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.book .ratings {
  color: rgb(26, 22, 22);
  font-size: 1rem;
}

.book .ratings i {
  color: gold;
  font-size: 1rem;
}
.form-style-2 {
  max-width: 100px;
  padding: 200px 120px 250px 500px;
  color: #4eb0ce;
  font: 25px Arial, Helvetica, sans-serif;
}
